body {
    background: rgb(14, 206, 174);
}
h1 {
    border: solid rosybrown 1px none;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    color: gold;
}

.operacao {
    color: rgb(28, 24, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 20pt;
    text-align: center;
}

form {
    border: solid rosybrown 1px none;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    object-fit: contain;
}

input{
    width: 75%;
    padding: 5px 5px;
    margin: 8px 10px;
    box-sizing: content-box;
    align-content: center; 
}

#resul {
    font: normal 8pt;
    align-items: center;
    margin-top: 5px;
    padding: 3px;
    justify-content: center;
}